*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1280px;
    margin: 0 auto;

}
.logo{
    padding-top: 20px;
}
.logoA{
    text-decoration: none;
    color: black;
}

.bluecolor{
    color: #4bcaff;
}
.navigation-top {
    width: 1280px;
    /*margin: 0 auto;*/
    background: #35444f;
    margin-top: 30px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

}
.navigation-top .nav-link{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 20px 35px;
    box-sizing: border-box;
    border-right:1px solid #35444f;

}
.navigation-top .nav-link:hover{
    background-color: #222f3a;
    border-left:1px solid lightgray;
    border-right:1px solid lightgray;
}


.content-nav{
    width: 30%;
    background-color: white;

    border:1px solid gray;
    /*border-top: 0;*/
    /*border-left: 0;*/
    /*border-right: 1px solid #dbdbdb;*/

}
.content-nav a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding: 18px;
    box-sizing: border-box;
    color: #6d7982;

}
.content-nav a:hover{
    background-color:#dbdbdb ;
    color: black;


}
.content-nav .subtitleA{
    padding-left: 32px;
    font-weight: bold;

}
.content-nav{
    display: inline-block;

    float: left;
}
.rightArea{
    display: inline-block;
    width: 68%;
    border:1px solid gray;
    /*border-left:1px solid gray;*/
    /*border-bottom:1px solid gray ;*/
    padding:70px;
    box-sizing: border-box;
    float: right;
}
.rightArea img{
    width: 200px;
    display: block;
    margin:0 auto;
}
.rightArea  img:hover{
    transition:  all 4s 2s ;
    width: 250px;

}
.mainContent{
    margin-top: 30px;


}
.clear{
    clear: both;
}
.textParagraph{
    width: 68%;
    float: right;
    padding:20px;
    box-sizing: border-box;
}
footer{
    background: #b4b7ba;
    margin-top: 30px;
    padding: 20px;
    box-sizing: border-box;
}
footer .nav-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    /*padding-left: 10px;*/
    box-sizing: border-box;
    /*padding-bottom: 10px;*/
    padding:10px 5px

}
footer .nav-link:hover{
    color: #5d93ad;
    border-bottom: 1px solid #5d93ad;
    padding-bottom:2px;


}
.footerlink{
 float: left;
}
.copyrightText{
    float: right;
}

